@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

div {
  white-space: normal;
}

.navbar {
  background: #fff;
}

.navbar-brand {
  font-size: 1.9rem;
  color: #565387;
}

.addheight {
  height: 5%;
}

.nav-item {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.nav-item:hover {
  text-decoration: underline;
  /* Green */
  color: rgb(2, 2, 2);
}

.heading_title_border {
  border-left: 2px solid #000000c4;
  margin-left: 2%;
  margin-top: 2%;
  position: relative;

}

.navbar a:hover,
#header .brand-name {
  color: #3498db;
}

.ntext {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;
}

.ntextM {
  color: #000000;
  font-size: 64px;
  font-weight: lighter;
  font-family: "IBM Plex Serif";
  position: relative;
}

.ntexts {
  color: #000000;
  font-size: 25px;
  font-weight: lighter;
  font-family: "IBM Plex Serif";
  position: relative;
}

.ntextn {
  color: #000000;

  font-family: "IBM Plex Serif";
  position: relative;
  font-weight: lighter;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.ntextP {
  color: #000000;
  font-family: "IBM Plex Sans";
  position: relative;
  font-weight: lighter;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.ntextfaq {
  color: #000000;
  font-family: "IBM Plex Sans";
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.ntextP2 {
  color: #000000;
  font-family: "IBM Plex Sans";
  position: relative;
  font-weight: lighter;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

}

.ntext2 {
  color: #000000;
  font-size: 20px;
  font-weight: 200;
  font-family: "IBM Plex Sans";
  position: relative;
  margin-top: 2%;
}

.heading_textBig1 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;
}

.heading_textBigAbt {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;
  text-decoration: underline;
  text-underline-offset: 20px;

}

.heading_textBigB {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;

}

.heading_textBigB2 {
  color: #000000;
  font-size: 72px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;

}

.heading_textBig2 {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;
}

.heading_text1 {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  font-family: "IBM Plex Serif";
  position: relative;

}

.heading_text2 {
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  font-family: "IBM Plex Serif";
  position: relative;

}

.heading_text2sans {
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  font-family: "IBM Plex Sans";
  position: relative;

}

.heading_text3 {
  color: #000000;
  font-size: 30px;
  font-weight: lighter;
  font-family: "IBM Plex Serif";
  position: relative;

}

.heading_text3center {
  color: #000000;
  font-size: 30px;
  font-weight: lighter;
  font-family: "IBM Plex Serif";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.break {
  margin-bottom: 4%;
}

.break2 {
  margin-bottom: 6%;
}

.svg-icon {

  align-self: center;
}

.svg-icons2 {
  height: 1em;
  width: 1em;
}

.svg-icon.svg-baseline svg {
  top: .125em;
  position: relative;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#growth {
  overflow-y: scroll;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header h2 {
  color: #484848;
  font-size: 20px;
  font-weight: 300;
  font-family: IBM Plex Sans;
}

.header2 {
  color: #000000;
  font-size: 22px;
  font-weight: lighter;
  font-style: normal;
  font-family: IBM Plex Sans;
  margin-top: 20px;
}

.margin {
  margin-top: 30px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.5s;
  color: #3498db;
  border: 10px solid #071621;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #34db6e;
  color: rgb(156, 69, 69);
}

.header-img {
  text-align: right;
  position: relative;
  padding: 10px;
}

.centered {

  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  text-underline-offset: 20px;
}

.centre {
  text-align: center;
}

.centered-txt {
  color: #000000;
  font-size: 17px;
  font-weight: 200;
  font-family: Roboto;
  display: flex;
  justify-content: center;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.heading_background {
  background-color: #FFD3AA;
}

.heading_background2 {
  background-color: #B4D8A4;
}

.heading_background3 {
  background-color: #FFFCBA;
}

.heading_background4 {
  background-color: #BBEFFF;
}

.heading_background5 {
  background-color: #FFD3AA;
}

.heading_background6 {
  background-color: #8FCBDE;
}

.heading_background7 {
  background-color: #C4EAFA;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 20em) {
  br {
    display: none;
    /* hide the BR tag for wider screens (i.e. disable the line break) */
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  margin-left: 6%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas:
    "a b"
    "c d";
  align-items: start;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

p {
  white-space: pre;
}